@import url("https://fonts.googleapis.com/css?family=Muli");
* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.text-center {
  text-align: center;
}

.icon-md {
  font-size: 2rem;
}

html {
  max-width: 100vw;
  min-height: 100%;
  width: 100%;
}

body {
  position: relative;
  font-family: Muli, sans-serif;
  height: 100%;
  background: #fff;
  margin: 0 0.5rem;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main {
  position: relative;
  width: 100%;
  padding-top: 150px;
}

@media (min-width: 768px) {
  #main {
    padding-top: 75px;
  }
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

header#header.nav {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
  max-height: 150px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  background: #006630;
  background: #fff;
  width: 100%;
  z-index: 1000;
}

@media (min-width: 768px) {
  header#header.nav {
    height: 75px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

header#header.nav #logo {
  width: 100%;
  margin-top: 20px;
  position: relative;
}

@media (min-width: 768px) {
  header#header.nav #logo {
    width: 60vw;
    margin: 0px;
  }
}

header#header.nav #logo h3 {
  margin: 0;
}

@media (min-width: 768px) {
  header#header.nav #logo h3 {
    margin-left: 4rem;
    letter-spacing: 2px;
    text-align: left;
  }
}

header#header.nav img#brand-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 300px;
}

@media (min-width: 768px) {
  header#header.nav img#brand-logo {
    margin: 0 0 0 20px;
  }
}

header#header.nav #navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.05rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (min-width: 768px) {
  header#header.nav #navbar {
    display: block;
    width: auto;
  }
}

header#header.nav ul#nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  font-weight: bold;
}

@media (min-width: 768px) {
  header#header.nav ul#nav-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

header#header.nav li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

#hero-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero-cta form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero-cta #email-cta {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 65%;
          flex: 1 1 65%;
}

#hero-cta input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 65%;
      -ms-flex: 65%;
          flex: 65%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  margin: 0;
  -ms-flex-item-align: center;
      align-self: center;
}

#hero-cta button {
  background: #00662f;
  border: 1px solid #00662f;
  color: white;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
}

#hero-cta .form-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#hero-cta .form-vertical button {
  margin-top: 1rem;
}

#features {
  display: block;
  margin: auto;
}

#features ul.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

#features li.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

#features .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 1rem;
  padding-right: 0.5rem;
  color: #00662f;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

#features .card {
  padding: 0px 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
}

.padded-y {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

#demos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  margin: 1rem auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  #demos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#demos .card-v {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 1rem auto;
  border: 1px solid black;
  padding-bottom: 1.5rem;
  border-radius: 3px;
  background-color: #4b4b4b;
  z-index: 10;
  -webkit-box-shadow: 0px 2px 3px 0px black;
          box-shadow: 0px 2px 3px 0px black;
}

@media (min-width: 768px) {
  #demos .card-v {
    width: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 33.33333%;
    margin: 1rem;
  }
}

#demos .card-v h3 {
  background-color: #d6d6d6;
  padding: 1rem 0px;
  margin: 0;
  z-index: -1;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 0px black;
          box-shadow: 0px 2px 3px 0px black;
}

#demos .card-v .bg-demo-img {
  margin: 1rem;
}

#demos .card-v .bg-demo-img img {
  width: 100%;
}

#demos .card-v button {
  background: #f0c30e;
  border: 1px solid #f0c30e;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  font-size: 1.15rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
  -webkit-box-shadow: 0px 2px 3px 0px black;
          box-shadow: 0px 2px 3px 0px black;
}

#demos .card-v button a {
  text-decoration: none;
  color: black;
}

.video-wrap {
  padding: 2px 0px;
}

.video-wrap iframe {
  height: 360px;
  width: 100%;
  max-width: 560px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 -.5rem;
  background: #d6d6d6;
  text-align: right;
  padding: 1rem 1rem;
}

@media (min-width: 768px) {
  .footer {
    margin: 1rem 1rem 0 1rem;
  }
}

.footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.footer .footer-links .nav-link {
  padding: 0px .5rem;
  list-style: none;
}

@media (min-width: 768px) {
  .footer .footer-links {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  padding: 0px .5rem;
  font-style: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .footer .copyright {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.text-x1 {
  font-size: 1.15rem;
}

.text-x2 {
  font-size: 1.15rem;
}

.text-x3 {
  font-size: 1.15rem;
}
/*# sourceMappingURL=index.css.map */