@import url('https://fonts.googleapis.com/css?family=Muli');

$desktop: 992px;
$desktop50: 992*2px;
$medium: 768px;

$primary-color: #00662f;
$secondary-color: rgb(240, 195, 14);
$third-color: #00FF77;
$bg-color: #fff;

@mixin desktop {
    @media (min-width: $medium) {
        @content;
    }
}

@mixin standard {
    @media (min-width: $desktop) {
        @content;
    }
}

* {
    // margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.px-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.text-center {
    text-align: center;
}

.icon-md {
    font-size: 2rem;
}


html {
    max-width: 100vw;
    min-height: 100%;
    width: 100%;
}

body {

    position: relative;
    // font-family: Geneva, Verdana, sans-serif;
    font-family: Muli, sans-serif;

    height: 100%;
    background: $bg-color;

    //these two things are important for mobile margin
    margin: 0 0.5rem;
    // width: 100%;
}




.flex-column {
    display: flex;
    flex-direction: column;
}


@mixin nox {
    padding: 0;
    // border: none;
    margin: 0;
}


$navbar-height: 75px;
$navbar-mobile: 150px;


#main {
    position: relative;
    width: 100%;
    padding-top: $navbar-mobile;

    @include desktop {
        padding-top: $navbar-height;

    }
}

.container {
    //Make the container try to take the full width (width: 100%)
    //but if it's too big (max-width: 1000px)
    //add horizontal margins to it
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}


header#header.nav {

    //With wrap, we can dynamically decide
    // if we stack or not to allow 100% width
    flex-wrap: wrap;

    // //Takes care about style
    text-align: center; //also affects images
    display: flex;
    // flex-direction: column;

    align-items: center;
    // justify-content: space-around;
    min-height: $navbar-height;
    max-height: $navbar-mobile;

    padding: 0 20px;

    // //Takes care of fixed positioning
    position: fixed;
    top: 0;
    left: 0;
    background: hsl(148, 100%, 20%);
    background: $bg-color;
    width: 100%;
    z-index: 1000;

    @include desktop {
        height: $navbar-height;
        flex-wrap: nowrap;
        // flex-direction: row;

        // #mobile-menu {
        //     display: none;
        // }
    }

    #logo {
        width: 100%;
        margin-top: 20px;
        position: relative; //

        @include desktop {
            width: 60vw;
            margin: 0px; //No margins since everything is fixed by flex layout
        }

        h3 {
            margin: 0;

            @include desktop {
                margin-left: 4rem;
                letter-spacing: 2px;

                text-align: left;
            }
        }

    }

    img#brand-logo {
        //     // padding: 5px 0px;
        //     // height: $navbar-height*0.55;
        //     //A flex row container will honor it's height
        display: flex;
        justify-content: center;
        align-items: center;
        // align-self: center;
        text-align: center;
        // justify-self: center;
        margin: 0 auto;

        //     // display: inline;
        width: 100%;
        height: 100%;
        max-width: 300px;

        //     flex: 2 1;

        @include desktop {
            margin: 0 0 0 20px;
        }

    }

    #navbar {
        //This allows us to fool flexlayout into having the ul with width 100%
        display: flex;
        font-size: 1.05rem;
        justify-content: center;
        width: 100%;


        //font-weight: 600;


        @include desktop {
            display: block;
            width: auto; //important or it will try to take 100% of navbar
            // justify-content: flex-end;
        }

        //can't use flex wrap as li are set to fit content, aka no width:100%;

    }

    ul#nav-links {

        display: flex;
        flex-direction: column;
        width: 35vw;
        align-items: center;


        list-style: none;
        //margin: 10px auto;
        padding: 0;
        font-weight: bold;

        @include desktop() {
            flex-direction: row;
            justify-content: space-around;

            // margin: 0px 0px 0px 0px;
            // margin-block-end: 0px;
            // margin-block-start: 0px;
        }
    }

    li {
        flex: 1 0 auto;
        // flex: 55%;        
        // font-size: 1.25rem;
        // align-self: stretch;
        // height: 100%;
        // padding: 0px 2rem;
    }

}


#hero-cta {
    //A flew container with horizontal center will not fill width
    //add flex-grow to counter this
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
        position: relative;
        display: flex;
        // flex-direction: column;
        // align-items: center; // background: gray;
        justify-content: center; // flex-wrap: wrap; //one line
    }


    #email-cta {
        align-self: auto;
        flex: 1 1 65%;
        // @include/ nox
    }

    input {
        display: flex;
        // height: calc(1.5em + 1rem + 2px);
        flex: 65%;
        padding: 0.5rem 1rem;
        // width: 1%;
        font-size: 1rem;
        border: 1px solid #ced4da;
        margin: 0;
        // overflow: visible;
        align-self: center;


    }

    button {
        background: $primary-color;
        border: 1px solid $primary-color;
        color: white;
        border-radius: 2px;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        align-self: center;
        flex: 1 1 35%;
        // width: 30%;
        // margin-top: 1rem;
        // @include nox
    }

    .form-vertical {
        button {
            margin-top: 1rem;
        }

        flex-direction: column;
    }
}


#features {
    // justify-content: center;
    // align-items: center;
    display: block;
    margin: auto;
    // margin: auto;

    ul.grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }

    li.row {
        display: flex;
        align-items: center;
        justify-content: stretch;
    }


    .icon {
        display: flex;
        justify-content: center;
        padding-left: 1rem;
        padding-right: 0.5rem;
        // color: #008148;
        color: $primary-color;

        //Allow shrinking and do not take more than the given width
        //Equivalent to:
        //width: 20% or 20vw;
        flex: 0 1 20%;
    }


    .card {
        padding: 0px 1rem;

        //Allow shrinking and do not take more than the given width
        //Equivalent to:
        //width: 20% or 20vw;
        flex: 0 1 80%;
    }

}

.padded-y {
    padding-top: .5rem;
    padding-bottom: .5rem;
}




#demos {
    display: flex;
    width: 100%;
    margin: auto;
    // justify-content: center;
    justify-content: space-evenly;
    text-align: center;
    // flex-wrap: wrap;
    margin: 1rem auto;
    flex-direction: column;

    @include desktop {
        // flex-wrap: nowrap;
        flex-direction: row;

    }

    .card-v {
        width: 100%;
        max-width: 300px;
        margin: 0 auto 1rem auto;
        border: 1px solid black;
        padding-bottom: 1.5rem;
        border-radius: 3px;
        background-color: rgb(75, 75, 75);
        z-index: 10;
        box-shadow: 0px 2px 3px 0px black;

        @include desktop {
            width: auto;
            flex: 0 1 auto;
            width: (100%/3);
            margin: 1rem;
        }

        h3 {
            background-color: rgb(214, 214, 214);
            padding: 1rem 0px;
            margin: 0;
            z-index: -1;
            border-radius: 3px;

            // box-shadow: 0px 0px 3px 3px black;
            box-shadow: 0px 2px 3px 0px black;
        }

        .bg-demo-img {
            // width: 100%;
            margin: 1rem;

            img {
                width: 100%;
            }
        }

        button {
            background: $secondary-color;
            border: 1px solid $secondary-color;
            // color: ;
            border-radius: 2px;
            padding: 0.5rem 1rem;
            font-size: 1.15rem;
            align-self: center;
            flex: 1 1 35%;
            // width: 30%;
            // margin-top: 1rem;
            // @include nox
            box-shadow: 0px 2px 3px 0px black;

            a {
                text-decoration: none;
                color: black;
            }


        }


    }





}


.video-wrap {

    // display: flex;
    // justify-content: center;
    padding: 2px 0px;

    iframe {
        height: 360px;
        width: 100%;
        max-width: 560px;
    }
}


.footer {
    display: flex;
    flex-direction: column;
    // width: 100vw;
    margin: 0 -.5rem;

    background: rgb(214, 214, 214);
    text-align: right;

    padding: 1rem 1rem;


    @include desktop {
        margin: 1rem 1rem 0 1rem;
    }


    .footer-links {
        display: flex;
        justify-content: center;
        margin: 0;

        .nav-link {
            padding: 0px .5rem;
            // margin: 0;
            list-style: none;
        }

        @include desktop {
            justify-content: flex-end;
        }
    }

    .copyright {

        display: flex;
        margin-top: 10px;
        padding: 0px .5rem;
        font-style: normal;
        justify-content: center;

        @include desktop {
            justify-content: flex-end;
        }


    }
}



@each $size in 'x1',
'x2',
'x3' {
    $last: 1.1rem;

    .text-#{$size} {
        font-size: $last + 0.05;
    }
}